:root {
  --default-green: #1d8974;
  --active-green: #1ed760;
}

/*
Estilização geral
(Beba água, levante, alongue-se, vá dar uma volta, não se force camarada ;D )
*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}
/*
Classes de utilidade
(Beba água, levante, alongue-se, vá dar uma volta, não se force camarada ;D )
*/

.logo {
  height: 40px;
  width: auto;
}

.btn-primary {
  background-color: var(--default-green);
  color: white;
  text-transform: uppercase;
  padding: 15px 60px;
  border: none;
  border-radius: 30px;
  letter-spacing: 1px;
  font-weight: bold;
  transition: all 300ms ease;
}

.btn-primary:hover {
  background-color: var(--active-green);
  cursor: pointer;
}

/*
Estilização navbar
(Beba água, levante, alongue-se, vá dar uma volta, não se force camarada ;D )
*/
#navbar {
  display: flex;
  background-color: rgba(0, 0, 0, 0.6);
  justify-content: center;
  color: white;
  width: 100vw;
  position: fixed;
  top: 0;
}

#navbar .navbar-container {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}

#navbar .navbar-container ul {
  display: flex;
  list-style: none;
  font-weight: bold;
}

#navbar .navbar-container ul li {
  padding: 0 20px;
  transition: all 300ms ease;
}

#navbar .navbar-container ul li:hover {
  color: #1d8974;
  cursor: pointer;
}

#navbar .navbar-container ul li:nth-child(3) {
  border-right: 1px solid white;
}
/*
Estilização showcase
(Beba água, levante, alongue-se, vá dar uma volta, não se force camarada ;D )
*/
#showcase {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("/img/Merengue_Drums_EDIT.jpg") center center/cover;
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: color;
  color: white;
}

#showcase .showcase-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#showcase .showcase-container h2 {
  font-size: 5rem;
  background: linear-gradient(
    to right,
    #3c3cdd,
    #ddda3c,
    #3cdd49,
    #d3d3d3,
    #161616,
    #dd3c3c
  );
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  -webkit-text-stroke: 0.08rem whitesmoke;
  z-index: 11;
}

#showcase .showcase-container p {
  margin: 15px 0;
  font-size: 1.1rem;
}
/*
Estilização conteúdo do footer
(Beba água, levante, alongue-se, vá dar uma volta, não se force camarada ;D )
*/

#footer {
  background: black;
  color: white;
  padding: 80px 0;
  width: 100vw;
}

#footer .footer-content {
  display: flex;
  width: 60%;
  margin: auto;
  justify-content: space-between;
}

#footer .footer-content .footer-menu {
  margin: 0 40px;
  list-style: none;
}

#footer .footer-content .footer-menu p {
  font-weight: bold;
  text-transform: uppercase;
  color: #919496;
  font-size: 0.8rem;
}

#footer .footer-content .footer-menu .footer-menu-item {
  margin: 25px 0;
  transition: all 300ms ease;
}

#footer .footer-content .footer-menu .footer-menu-item:hover {
  color: var(--default-green);
  cursor: pointer;
}

.socials {
  display: flex;
}

.socials i {
  margin: 0 20px;
  font-size: 1.7rem;
  transition: all 300ms ease;
}

.socials i:hover {
  color: var(--active-green);
  cursor: pointer;
}
/*
Estilização informações do footer
(Beba água, levante, alongue-se, vá dar uma volta, não se force camarada ;D )
*/
#footer .footer-info {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  color: #919496;
  font-size: 0.75rem;
  margin-top: 50px;
}

#footer .footer-info .footer-info-items {
  display: flex;
  list-style: none;
}

#footer .footer-info .footer-info-items .footer-info-item {
  margin: 0 10px;
  font-weight: bold;
  transition: all 300ms ease;
}

#footer .footer-info .footer-info-items .footer-info-item:hover {
  color: var(--default-green);
  cursor: pointer;
}

#footer .footer-info .rights {
  margin-right: 10px;
}

#footer .footer-info .rights .country {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
  align-items: center;
}

#footer .footer-info .rights .country p {
  transition: all 300ms ease;
}

#footer .footer-info .rights .country p:hover {
  color: var(--active-green);
  cursor: pointer;
}

#footer .footer-info .rights .country .flag {
  height: 20px;
  width: auto;
  display: inline-block;
  margin-left: 10px;
}
